body, html {
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero img {
    margin-bottom: 20px;
}
.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.top-left-img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}
